# Ignore everything except what we explicitly want
*
*/
!/auto-brightness.py
!/auto-brightness-gui.py
!/camera.py
!/brightness_core.py
!/brightness_calib.json
!/.gitignore
!/README.md

# But allow specific dirs ONLY when files inside are explicitly tracked
!/netsec-agent/
